/* Background and global styles */
html {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #000000;
  scroll-behavior: smooth;
  font-size: 18px;
  background-image: url("../public/images/background_five.png");
    background-color: #dda7ff;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  box-sizing: border-box;
}

/*=== FRAME CSS ===*/
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame-string {
  position: relative;
  height: 480px;
  margin-bottom: -5px;
  z-index: 2;
  user-select: none;
}

.frame-string.central {
  height: 600px;
}

.frame-image {
  height: 200px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.48);
  z-index: 1;
  user-select: none;
}

.frame-image.central {
  height: 400px;
}

.frame-link {
  position: relative;
  /* So that absolutely positioned children are relative to this container */
  display: inline-block;
  /* Shrink-wrap to image size */
}

.frame-text-overlay {
  position: absolute;
  left: 50%;
  border: 2px solid white;
  background-color: rgb(232, 225, 255);
  transform: translateX(-60%);
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  z-index: 10;
  user-select: none;
  pointer-events: none;
  /* prevents overlay from blocking clicks */
}

/* Position the first text block higher */
.frame-text-overlay:first-of-type {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -35%);
  /* adjust vertical position */
}

.frame-text-overlay.main-text {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -35%);
  /* adjust vertical position */
}

/* Position the second text block lower */
.frame-text-overlay.subtitle {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  /* adjust vertical position */
}

/* Footer styles */
.footer {
  clear: both;
  position: fixed;
  bottom: 0;
  font-family: "Agu Display", serif;
  height: 2.5rem;
  color: #eee;
  text-shadow: 1px 3px 4px #44410d;
  box-shadow: 15px 5px -5px #fffbb2;
  margin-top: 1rem;
  padding: 0.3rem;
  text-align: center;
}